<!-- <div id="seatcheckout" class="seatcheckout">
  <div class="row" id="seat">
    <div class="topContent row" *ngFor="let rapPhim of BHDStarCineplex | slice: 0 : 1">
      <div class="lefttitle">
        <div class="logocinema">
          <img [src]="rapPhim.image" alt="error">
        </div>
        <div class="contentcinema">
          <p class="address"><span class="pcinema" style="color:#8bc541">{{rapPhim.RapPhim}}</span><span class="cinemaname">
              - &lrm; {{rapPhim.TenRap}}</span>
          </p>
          <p class="hour" *ngFor="let lichChieu of ChiTietPhim.LichChieu | slice: 0 : 1">
            Today-{{lichChieu.NgayChieuGioChieu | date:'hh:mm'}}AM
            <span class="rapSo">
              - {{lichChieu.Rap.TenRap}}
            </span>
        </div>
      </div>
      <div class="righttitle"></div>
    </div>
  </div>
</div> -->