<!-- Modal -->
<div *ngIf="isOpen" class="modal fade show" style="display: block; background: rgba(0,0,0,.5);" id="myModalz" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body mb-0 p-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always, autoplay" frameborder="0"
            allowfullscreen>></iframe>
        </div>
      </div>
    </div>
  </div>
</div>