<!-- <div class="row"> -->
  <div class="news col-news col-xs-12" style="
  float: left;
">
    <div class="thumbnailGeneral bigThumbnail newsThumbnail">
      <a href="" class="img-news img-fluid">
        <img src="../../../assets/img/123phim-mua-1-tang-1-thoat-kiep-fa-15416776687668.jpg" alt="error">
      </a>
    </div>
    <a href="">
      <p class="newsTitle">[123Film] Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quidem sint.</p>
    </a>
    <p class="newsDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem minus, dolore quidem
      magnam sit voluptatibus cumque dolorem.</p>
    <div class="blockIconFacebook">
      <div class="wrapIcon like">
        <img class="iconFacebook postLike" src="../../../assets/img/like.png" alt="error">
        <p class="amount like">0</p>
      </div>
      <div class="wrapIcon comment">
        <a href="" class="a-comment" (click)="clickAlert($event)">
          <img class="iconFacebook postCmt" src="../../../assets/img/comment.png" alt="error">
          <p class="amount comment">0</p>
        </a>
      </div>
    </div>
  </div>
  <div class="news col-news col-xs-12" style="
  float: left;
">
    <div class="thumbnailGeneral bigThumbnail newsThumbnail">
      <a href="" class="img-news img-fluid">
        <img src="../../../assets/img/123phim-xem-phim-hay-gia-ngat-ngay-cung-zalopay-15414863823869.jpg" alt="error">
      </a>
    </div>
    <a href="">
      <p class="newsTitle">[123Film] Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quidem sint.</p>
    </a>
    <p class="newsDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem minus, dolore quidem
      magnam sit voluptatibus cumque dolorem.</p>
    <div class="blockIconFacebook">
      <div class="wrapIcon like">
        <img class="iconFacebook postLike" src="../../../assets/img/like.png" alt="error">
        <p class="amount like">0</p>
      </div>
      <div class="wrapIcon comment">
        <a href="" class="a-comment" (click)="clickAlert($event)">
          <img class="iconFacebook postCmt" src="../../../assets/img/comment.png" alt="error">
          <p class="amount comment">0</p>
        </a>
      </div>
    </div>
  </div>
  <div class="news col-news col-xs-12" style="
  float: left;
">
    <div class="thumbnailGeneral bigThumbnail newsThumbnail">
      <a href="" class="img-news img-fluid">
        <img src="../../../assets/img/123phim-mua-2-tang-1-15408846319911.jpg" alt="error">
      </a>
    </div>
    <a href="">
      <p class="newsTitle">[123Film] Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quidem sint.</p>
    </a>
    <p class="newsDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem minus, dolore quidem
      magnam sit voluptatibus cumque dolorem.</p>
    <div class="blockIconFacebook">
      <div class="wrapIcon like">
        <img class="iconFacebook postLike" src="../../../assets/img/like.png" alt="error">
        <p class="amount like">0</p>
      </div>
      <div class="wrapIcon comment">
        <a href="" class="a-comment" (click)="clickAlert($event)">
          <img class="iconFacebook postCmt" src="../../../assets/img/comment.png" alt="error">
          <p class="amount comment">0</p>
        </a>
      </div>
    </div>
  </div>
  <div class="news col-news col-xs-12" style="
  float: left;
">
    <div class="thumbnailGeneral bigThumbnail newsThumbnail">
      <a href="" class="img-news img-fluid">
        <img src="../../../assets/img/bhdstar-bhd-star-bitexco-tri-an-khach-hang-15411488799373.jpg"
          alt="error">
      </a>
    </div>
    <a href="">
      <p class="newsTitle">[BHDStar] Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quidem sint.</p>
    </a>
    <p class="newsDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem minus, dolore quidem
      magnam sit voluptatibus cumque dolorem.</p>
    <div class="blockIconFacebook">
      <div class="wrapIcon like">
        <img class="iconFacebook postLike" src="../../../assets/img/like.png" alt="error">
        <p class="amount like">0</p>
      </div>
      <div class="wrapIcon comment">
        <a href="" class="a-comment" (click)="clickAlert($event)">
          <img class="iconFacebook postCmt" src="../../../assets/img/comment.png" alt="error">
          <p class="amount comment">0</p>
        </a>
      </div>
    </div>
  </div>
  <div class="news col-news col-xs-12" style="
  float: left;
">
    <div class="thumbnailGeneral bigThumbnail newsThumbnail">
      <a href="" class="img-news img-fluid">
        <img src="../../../assets/img/123phim-uu-dai-50-lan-dau-dat-ve-15398643763867.jpg" alt="error">
      </a>
    </div>
    <a href="">
      <p class="newsTitle" style="-webkit-box-orient: vertical;">[123Film] Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quidem sint.</p>
    </a>
  </div>
  <div class="news col-news col-xs-12" style="
  float: left;
">
    <div class="thumbnailGeneral bigThumbnail newsThumbnail">
      <a href="" class="img-news img-fluid">
        <img src="../../../assets/img/123phim-quang-tri-oi-xem-phim-ve-chi-9k-ne-15399512659336.jpg" alt="error">
      </a>
    </div>
    <a href="">
      <p class="newsTitle" style="-webkit-box-orient: vertical;">[123Film] Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quidem sint.</p>
    </a>
  </div>
  <div class="news col-news col-xs-12" style="
  float: left;
">
    <div class="thumbnailGeneral bigThumbnail newsThumbnail">
      <a href="" class="img-news img-fluid">
        <img src="../../../assets/img/beta-xa-kho-phim-kinh-di-15398787116373.jpg" alt="error">
      </a>
    </div>
    <a href="">
      <p class="newsTitle" style="-webkit-box-orient: vertical;">[123Film] Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quidem sint.</p>
    </a>
  </div>
  <div class="news col-news col-xs-12" style="
  float: left;
">
    <div class="thumbnailGeneral bigThumbnail newsThumbnail">
      <a href="" class="img-news img-fluid">
        <img src="../../../assets/img/123phim-uu-dai-50-lan-dau-dat-ve-15403698419884.jpg" alt="error">
      </a>
    </div>
    <a href="">
      <p class="newsTitle" style="-webkit-box-orient: vertical;">[123Film] Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quidem sint.</p>
    </a>
  </div>
<!-- </div> -->