<div class="row grayBack" id="filmlock" style="padding-bottom: 5em;">
  <div class="col-md-12 col-xs-12 block mainNews" id="homeMovies">
    <!-- Nav pills -->
    <ul class="nav nav-pills navCenter">
      <li class="nav-item" style="margin-right: 5px;">
        <a class="nav-link active" data-toggle="pill" href="#home">Now Showing</a>
      </li>
      <li class="nav-item" style="margin-left: 5px;">
        <a class="nav-link" data-toggle="pill" href="#menu1">Coming soon</a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane container active" id="home">
        <app-phim-dang-chieu></app-phim-dang-chieu>
      </div>
      <div class="tab-pane container fade" id="menu1">
        <app-phim-sap-chieu></app-phim-sap-chieu>
      </div>
    </div>
  </div>
</div>