<div class="col-xs-12 block" id="footer">
  <div class="mainMaxWidth">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <p class="title hideOnMobile">123Film</p>
        <div class="col-sm-6 col-xs-6 noPaddingLeft fontSizeP hideOnMobile" style="float: left;">
          <a href="/">FAQ</a>
          <a href="/">Brand Guidelines</a>
        </div>
        <div class="col-sm-6 col-xs-12 noPaddingLeft fontSizeP" style="float: left;">
          <a href="/">Terms of use</a>
          <a href="/">Operational regulations</a>
          <a href="/">Privacy Policy</a>
          <a href="/">Membership benefits</a>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 hideOnMobile">
        <p class="title">
          PARTNER</p>
        <div class="row col-sm-12 col-xs-12 linePartner">
          <a target="_blank" href="/" title="BHD">
            <img src="../../../assets/img/bhd.png" alt="error" class="iconConnect">
          </a>
          <a target="_blank" href="/" title="Galaxy">
            <img src="../../../assets/img/galaxycine.png" alt="error" class="iconConnect">
          </a>
          <a target="_blank" href="/" title="Cinestar">
            <img src="../../../assets/img/cinestar.png" alt="error" class="iconConnect">
          </a>
          <a target="_blank" href="/" title="Lotte Cinema">
            <img src="../../../assets/img/404b8c4b80d77732e7426cdb7e24be20.png" alt="error" class="iconConnect">
          </a>
          <a target="_blank" href="/" title="MegaGS">
            <img src="../../../assets/img/megags.png" alt="error" class="iconConnect">
          </a>
        </div>
        <div class="row col-sm-12 col-xs-12 linePartner">
          <a href="/" target="_blank" title="Beta">
            <img src="../../../assets/img/bt.jpg" alt="error" class="iconConnect">
          </a>
          <a href="/" target="_blank" title="DDC">
            <img src="../../../assets/img/dongdacinema.png" alt="error" class="iconConnect">
          </a>
          <a href="/" target="_blank" title="Touch Cinema">
            <img src="../../../assets/img/TOUCH.png" alt="error" class="iconConnect">
          </a>
          <a href="/" target="_blank" title="Cinemax">
            <img src="../../../assets/img/cnx.jpg" alt="error" class="iconConnect">
          </a>
          <a href="/" target="_blank" title="Starlight">
            <img src="../../../assets/img/STARLIGHT.png" alt="error" class="iconConnect">
          </a>
        </div>
        <div class="row col-sm-12 col-xs-12 linePartner">
          <a href="/" target="_blank" title="MoMo">
            <img src="../../../assets/img/momo.png" alt="error" class="iconConnect">
          </a>
          <a href="/" target="_blank" title="ZaloPay">
            <img src="../../../assets/img/zalopay_icon.png" alt="error" class="iconConnect">
          </a>
          <a href="/" target="_blank" title="Payoo">
            <img src="../../../assets/img/payoo.jpg" alt="error" class="iconConnect">
          </a>
          <a href="/" target="_blank" title="Vietcombank">
            <img src="../../../assets/img/VCB.png" alt="error" class="iconConnect">
          </a>
          <a href="/" target="_blank" title="Agribank">
            <img src="../../../assets/img/AGRIBANK.png" alt="error" class="iconConnect">
          </a>
        </div>
        <div class="row col-sm-12 col-xs-12 linePartner">
          <a href="/" target="_blank" title="Vietinbank">
            <img src="../../../assets/img/VIETTINBANK.png" alt="error" class="iconConnect">
          </a>
          <a href="/" target="_blank" title="IVB">
            <img src="../../../assets/img/IVB.png" alt="error" class="iconConnect">
          </a>
          <a href="/" target="_blank" title="123Go">
            <img src="../../../assets/img/123go.png" alt="error" class="iconConnect">
          </a>
          <a href="/" target="_blank" title="La Bàn">
            <img src="../../../assets/img/laban.png" alt="error" class="iconConnect">
          </a>
        </div>
        <div class="row col-sm-12 col-xs-12"></div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="col-xs-6 hideOnMobile textCenter" style="float: left;">
          <p class="title">MOBILE APP</p>
          <a target="_blank" href="/" title="Apple App">
            <img class="iconApp" src="../../../assets/img/apple-logo.png">
          </a>
          <a target="_blank" href="/" title="Android App">
            <img class="iconApp" src="../../../assets/img/android-logo.png">
          </a>
        </div>
        <div class="col-xs-6 textCenter" style="float: right;">
          <p class="title hideOnMobile">SOCIAL</p>
          <a target="_blank" href="/" title="Facebook social">
            <img class="iconApp" src="../../../assets/img/facebook-logo.png">
          </a>
          <a target="_blank" href="/" title="Zalo social">
            <img class="iconApp" src="../../../assets/img/zalo-logo.png">
        </a>
        </div>
      </div>
    </div>
    <hr class="hrFooter">
    <div class="row">
      <div class="col-sm-1 col-xs-12 imgFooter">
        <img class="vngIcon" src="../../../assets/img/web-logo.png" alt="error">
      </div>
      <div class="col-sm-9 col-xs-12 infoFooter">
          <span>123Film - PRODUCTS OF VINA NETWORK SERVICE CORPORATION - ONE MEMBER OF VNG JOINT STOCK COMPANY</span>
          <span>Address: 52 Nguyen Ngoc Loc, Ward 14, District 10, Ho Chi Minh City</span>
          <span>Business Registration Number: Lorem ipsum dolor sit amet consectetur adipisicing elit.!</span>
      </div>
    </div>
  </div>
</div>
