<!-- <div class="row"> -->
  <div class="news col-news col-xs-12" style="
  float: left;">
    <div class="thumbnailGeneral bigThumbnail newsThumbnail">
      <a href="" class="img-news img-fluid">
        <img src="../../../assets/img/bohemian-rhapsody-phim-khac-doi-thuc-nhu-the-nao-15419419111633.jpg" alt="error">
      </a>
    </div>
    <a href="">
      <p class="newsTitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quidem sint.</p>
    </a>
    <p class="newsDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem minus, dolore quidem
      magnam sit voluptatibus cumque dolorem.</p>
    <div class="blockIconFacebook">
      <div class="wrapIcon like">
        <img class="iconFacebook postLike" src="../../../assets/img/like.png" alt="error">
        <p class="amount like">0</p>
      </div>
      <div class="wrapIcon comment">
        <a href="" class="a-comment" (click)="clickAlert($event)">
          <img class="iconFacebook postCmt" src="../../../assets/img/comment.png" alt="error">
          <p class="amount comment">0</p>
        </a>
      </div>
    </div>
  </div>
  <div class="news col-news col-xs-12" style="
  float: left;
">
    <div class="thumbnailGeneral bigThumbnail newsThumbnail">
      <a href="" class="img-news img-fluid">
        <img src="../../../assets/img/iron-man-se-ve-dau-sau-avengers-4-15419285171694.jpg" alt="error">
      </a>
    </div>
    <a href="">
      <p class="newsTitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quidem sint.</p>
    </a>
    <p class="newsDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem minus, dolore quidem
      magnam sit voluptatibus cumque dolorem.</p>
    <div class="blockIconFacebook">
      <div class="wrapIcon like">
        <img class="iconFacebook postLike" src="../../../assets/img/like.png" alt="error">
        <p class="amount like">0</p>
      </div>
      <div class="wrapIcon comment">
        <a href="" class="a-comment" (click)="clickAlert($event)">
          <img class="iconFacebook postCmt" src="../../../assets/img/comment.png" alt="error">
          <p class="amount comment">0</p>
        </a>
      </div>
    </div>
  </div>
  <div class="news col-news col-xs-12" style="
  float: left;
">
    <div class="thumbnailGeneral bigThumbnail newsThumbnail">
      <a href="" class="img-news img-fluid">
        <img src="../../../assets/img/fantastic-beasts-2-moi-dieu-can-biet-truoc-khi-xem-phim-15420314854565.jpg" alt="error">
      </a>
    </div>
    <a href="">
      <p class="newsTitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quidem sint.</p>
    </a>
    <p class="newsDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem minus, dolore quidem
      magnam sit voluptatibus cumque dolorem.</p>
    <div class="blockIconFacebook">
      <div class="wrapIcon like">
        <img class="iconFacebook postLike" src="../../../assets/img/like.png" alt="error">
        <p class="amount like">0</p>
      </div>
      <div class="wrapIcon comment">
        <a href="" class="a-comment" (click)="clickAlert($event)">
          <img class="iconFacebook postCmt" src="../../../assets/img/comment.png" alt="error">
          <p class="amount comment">0</p>
        </a>
      </div>
    </div>
  </div>
  <div class="news col-news col-xs-12" style="
  float: left;
">
    <div class="thumbnailGeneral bigThumbnail newsThumbnail">
      <a href="" class="img-news img-fluid">
        <img src="../../../assets/img/trailer-lo-lem-chuyen-chua-ke-lo-lem-dau-maleficent-giai-loi-nguyen-cho-hoang-tu-chuot-15419991419818.jpg"
          alt="error">
      </a>
    </div>
    <a href="">
      <p class="newsTitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quidem sint.</p>
    </a>
    <p class="newsDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem minus, dolore quidem
      magnam sit voluptatibus cumque dolorem.</p>
    <div class="blockIconFacebook">
      <div class="wrapIcon like">
        <img class="iconFacebook postLike" src="../../../assets/img/like.png" alt="error">
        <p class="amount like">0</p>
      </div>
      <div class="wrapIcon comment">
        <a href="" class="a-comment" (click)="clickAlert($event)">
          <img class="iconFacebook postCmt" src="../../../assets/img/comment.png" alt="error">
          <p class="amount comment">0</p>
        </a>
      </div>
    </div>
  </div>
  <div class="news col-news col-xs-12" style="
  float: left;
">
    <div class="thumbnailGeneral bigThumbnail newsThumbnail">
      <a href="" class="img-news img-fluid">
        <img src="../../../assets/img/iron-man-se-ve-dau-sau-avengers-4-15419285171694.jpg" alt="error">
      </a>
    </div>
    <a href="">
      <p class="newsTitle" style="-webkit-box-orient: vertical;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quidem sint.</p>
    </a>
  </div>
  <div class="news col-news col-xs-12" style="
  float: left;
">
    <div class="thumbnailGeneral bigThumbnail newsThumbnail">
      <a href="" class="img-news img-fluid">
        <img src="../../../assets/img/khong-kem-black-panther-infinity-war-cung-tranh-tai-tan-11-hang-muc-oscar-15418410994290.jpg" alt="error">
      </a>
    </div>
    <a href="">
      <p class="newsTitle" style="-webkit-box-orient: vertical;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quidem sint.</p>
    </a>
  </div>
  <div class="news col-news col-xs-12" style="
  float: left;
">
    <div class="thumbnailGeneral bigThumbnail newsThumbnail">
      <a href="" class="img-news img-fluid">
        <img src="../../../assets/img/3-ly-do-khien-ban-phai-dien-kien-tieu-quai-cau-kinh-the-grinch-cuoi-tuan-nay-15417613826481.jpg" alt="error">
      </a>
    </div>
    <a href="">
      <p class="newsTitle" style="-webkit-box-orient: vertical;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quidem sint.</p>
    </a>
  </div>
  <div class="news col-news col-xs-12" style="
  float: left;
">
    <div class="thumbnailGeneral bigThumbnail newsThumbnail">
      <a href="" class="img-news img-fluid">
        <img src="../../../assets/img/live-action-tham-tu-pikachu-cua-ryan-reynolds-duoc-khen-som-15417551908911.jpg" alt="error">
      </a>
    </div>
    <a href="">
      <p class="newsTitle" style="-webkit-box-orient: vertical;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quidem sint.</p>
    </a>
  </div>
<!-- </div> -->
