<!-- <app-header class="child-header"></app-header> -->
<app-modal></app-modal>
<app-modal-phim></app-modal-phim>
<app-modal-add-user></app-modal-add-user>
<app-modal-add-phim></app-modal-add-phim>
<app-modal-history></app-modal-history>
<app-modal-trailer-phim></app-modal-trailer-phim>
<router-outlet></router-outlet>
<!-- "templateAdmin/css/sb-admin.min.css" -->
<!-- <app-footer></app-footer> -->
<!-- "node_modules/bootstrap/dist/js/bootstrap.min.js", -->
<!-- "node_modules/popper.js/dist/umd/popper.min.js", -->
<!-- "node_modules/jquery/dist/jquery.min.js", -->