<div class="row grayBack" id="newsBlock">
  <div class="col-xs-12 block mainMaxWidth" id="homeNews">
    <div id="sliderAdsNews" class="wrapSlick banner-ads slick-initialized slick-slider slick-dotted" role="toolbar">
      <div aria-live="polite" class="slick-list draggable">
        <div class="slickComponent" style="width: 940px;">
          <img src="../../assets/img/zlp-15416520703251.jpg" alt="error">
        </div>
        <div class="slickComponent" style="width: 940px;">
          <img src="../../assets/img/ke-hoach-doi-chong-15416937150046.jpg" alt="error">
        </div>
      </div>
    </div>
    <app-news></app-news>
  </div>
</div>