<!-- <div class="row"> -->
<div class="news col-news col-xs-12" style="
float: left;
">
  <div class="thumbnailGeneral bigThumbnail newsThumbnail">
    <a href="" class="img-news img-fluid">
      <img src="../../../assets/img/review-dream-man-phim-kinh-di-xoan-nao-ve-thoi-song-ao-15415867033459.jpg" alt="error">
    </a>
  </div>
  <a href="">
    <p class="newsTitle">[Review] Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quidem sint.</p>
  </a>
  <p class="newsDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem minus, dolore quidem
    magnam sit voluptatibus cumque dolorem.</p>
  <div class="blockIconFacebook">
    <div class="wrapIcon like">
      <img class="iconFacebook postLike" src="../../../assets/img/like.png" alt="error">
      <p class="amount like">0</p>
    </div>
    <div class="wrapIcon comment">
      <a href="" class="a-comment" (click)="clickAlert($event)">
        <img class="iconFacebook postCmt" src="../../../assets/img/comment.png" alt="error">
        <p class="amount comment">0</p>
      </a>
    </div>
  </div>
</div>
<div class="news col-news col-xs-12" style="
float: left;
">
  <div class="thumbnailGeneral bigThumbnail newsThumbnail">
    <a href="" class="img-news img-fluid">
      <img src="../../../assets/img/review-the-grinch-tan-chay-voi-ga-tieu-quai-xanh-le-de-thuong-sieu-cap-15418432183133.jpg"
        alt="error">
    </a>
  </div>
  <a href="">
    <p class="newsTitle">[Review] Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quidem sint.</p>
  </a>
  <p class="newsDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem minus, dolore quidem
    magnam sit voluptatibus cumque dolorem.</p>
  <div class="blockIconFacebook">
    <div class="wrapIcon like">
      <img class="iconFacebook postLike" src="../../../assets/img/like.png" alt="error">
      <p class="amount like">0</p>
    </div>
    <div class="wrapIcon comment">
      <a href="" class="a-comment" (click)="clickAlert($event)">
        <img class="iconFacebook postCmt" src="../../../assets/img/comment.png" alt="error">
        <p class="amount comment">0</p>
      </a>
    </div>
  </div>
</div>
<div class="news col-news col-xs-12" style="
  float: left;
">
  <div class="thumbnailGeneral bigThumbnail newsThumbnail">
    <a href="" class="img-news img-fluid">
      <img src="../../../assets/img/review-a-simple-favor-loi-thinh-cau-tu-nhung-nguoi-dan-ba-dep-dien-va-doc-15402737477289.jpg" alt="error">
    </a>
  </div>
  <a href="">
    <p class="newsTitle">[Review] Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quidem sint.</p>
  </a>
  <p class="newsDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem minus, dolore quidem
    magnam sit voluptatibus cumque dolorem.</p>
  <div class="blockIconFacebook">
    <div class="wrapIcon like">
      <img class="iconFacebook postLike" src="../../../assets/img/like.png" alt="error">
      <p class="amount like">0</p>
    </div>
    <div class="wrapIcon comment">
      <a href="" class="a-comment" (click)="clickAlert($event)">
        <img class="iconFacebook postCmt" src="../../../assets/img/comment.png" alt="error">
        <p class="amount comment">0</p>
      </a>
    </div>
  </div>
</div>
<div class="news col-news col-xs-12" style="
  float: left;
">
  <div class="thumbnailGeneral bigThumbnail newsThumbnail">
    <a href="" class="img-news img-fluid">
      <img src="../../../assets/img/review-bohemian-rhapsody-show-nhac-rock-hoanh-trang-ket-noi-trieu-con-tim-15409802798168.jpg"
        alt="error">
    </a>
  </div>
  <a href="">
    <p class="newsTitle">[Review] Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quidem sint.</p>
  </a>
  <p class="newsDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem minus, dolore quidem
    magnam sit voluptatibus cumque dolorem.</p>
  <div class="blockIconFacebook">
    <div class="wrapIcon like">
      <img class="iconFacebook postLike" src="../../../assets/img/like.png" alt="error">
      <p class="amount like">0</p>
    </div>
    <div class="wrapIcon comment">
      <a href="" class="a-comment" (click)="clickAlert($event)">
        <img class="iconFacebook postCmt" src="../../../assets/img/comment.png" alt="error">
        <p class="amount comment">0</p>
      </a>
    </div>
  </div>
</div>
<div class="news col-news col-xs-12" style="
  float: left;
">
  <div class="thumbnailGeneral bigThumbnail newsThumbnail">
    <a href="" class="img-news img-fluid">
      <img src="../../../assets/img/iron-man-se-ve-dau-sau-avengers-4-15419285171694.jpg" alt="error">
    </a>
  </div>
  <a href="">
    <p class="newsTitle" style="-webkit-box-orient: vertical;">[Review] Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Reiciendis quidem sint.</p>
  </a>
</div>
<div class="news col-news col-xs-12" style="
  float: left;
">
  <div class="thumbnailGeneral bigThumbnail newsThumbnail">
    <a href="" class="img-news img-fluid">
      <img src="../../../assets/img/khong-kem-black-panther-infinity-war-cung-tranh-tai-tan-11-hang-muc-oscar-15418410994290.jpg"
        alt="error">
    </a>
  </div>
  <a href="">
    <p class="newsTitle" style="-webkit-box-orient: vertical;">[Review] Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Reiciendis quidem sint.</p>
  </a>
</div>
<div class="news col-news col-xs-12" style="
  float: left;
">
  <div class="thumbnailGeneral bigThumbnail newsThumbnail">
    <a href="" class="img-news img-fluid">
      <img src="../../../assets/img/3-ly-do-khien-ban-phai-dien-kien-tieu-quai-cau-kinh-the-grinch-cuoi-tuan-nay-15417613826481.jpg"
        alt="error">
    </a>
  </div>
  <a href="">
    <p class="newsTitle" style="-webkit-box-orient: vertical;">[Review] Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Reiciendis quidem sint.</p>
  </a>
</div>
<div class="news col-news col-xs-12" style="
  float: left;
">
  <div class="thumbnailGeneral bigThumbnail newsThumbnail">
    <a href="" class="img-news img-fluid">
      <img src="../../../assets/img/live-action-tham-tu-pikachu-cua-ryan-reynolds-duoc-khen-som-15417551908911.jpg" alt="error">
    </a>
  </div>
  <a href="">
    <p class="newsTitle" style="-webkit-box-orient: vertical;">[Review] Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Reiciendis quidem sint.</p>
  </a>
</div>
<!-- </div> -->