<div class="appClock" id="appClock">
  <div class="row" id="wrapHomeApp">
    <div class="col-xs-12 block" id="homeApp">
      <div class="mainMaxWidth">
        <div class="row">
          <div class="col-md-6 left text-left ">
            <p class="textLeft">Convenient application for</p>
            <p class="textLeft">movie lover</p>
            <br>
            <p class="textSmallLeft">Not only can you book tickets, you can also comment on films, spot cinemas and make attractive offers.</p>
            <br>
            <button class="buttonLeft" style="cursor:pointer;" (click)= "clickAlert()">Free App - Download Now!</button>
            <p class="textAppUnder">
              123Film has two versions
              <a class="tagA" target="_blank" href="/" disabled="disabled">iOS</a>
              & 
              <a class="tagA" target="_blank" href="/" disabled="disabled">Android</a>
            </p>
          </div>
          <div class="col-md-6 right">
            <img class="img-responsive" src="../../../assets/img/phone_hand.png" alt="Loading...">
            <div id="sliderScreen" class="wrapSlick slick-initialized slick-slider">
              <div aria-live="polite" class="slick-list-1 draggable">
                <div class="slickComponent">
                  <img src="../../../assets/img/slide0.png" alt="error">
                </div>
                <div class="slickComponent">
                  <img src="../../../assets/img/slide1.png" alt="error">
                </div>
                <div class="slickComponent">
                  <img src="../../../assets/img/slide2.png" alt="error">
                </div>
                <div class="slickComponent">
                  <img src="../../../assets/img/slide3.png" alt="error">
                </div>
                <div class="slickComponent">
                  <img src="../../../assets/img/slide4.png" alt="error">
                </div>
                <div class="slickComponent">
                  <img src="../../../assets/img/slide5.png" alt="error">
                </div>
                <div class="slickComponent">
                  <img src="../../../assets/img/slide6.png" alt="error">
                </div>
                <div class="slickComponent">
                  <img src="../../../assets/img/slide7.png" alt="error">
                </div>
                <div class="slickComponent">
                  <img src="../../../assets/img/slide8.png" alt="error">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>