<div class="row" style="justify-content: center;">
  <ul class="nav nav-pills navCenter">
    <li class="nav-item" style="margin-right: 5px;">
      <a class="nav-link active" data-toggle="pill" href="#home-1">Film-24h</a>
    </li>
    <li class="nav-item" style="margin-left: 5px;">
      <a class="nav-link" data-toggle="pill" href="#menu-1">Review</a>
    </li>
    <li class="nav-item" style="margin-left: 5px;">
      <a class="nav-link" data-toggle="pill" href="#menu-2">Promotion</a>
    </li>
  </ul>
</div>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container fade active show" id="home-1">
    <app-film></app-film>
  </div>
  <div class="tab-pane container fade" id="menu-1">
    <app-reviews></app-reviews>
  </div>
  <div class="tab-pane container fade" id="menu-2">
    <app-promotion></app-promotion>
  </div>
</div>